<html>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://cloud.github.com/downloads/braintree/braintree_client_side_encryption/braintree-1.1.1.min.js"></script>

    <script type="text/javascript">
      var clientSideEncryptionKey = 'MIIBCgKCAQEA0ld6Oi/qDwDdrljK1PKTBW3Dw1GTNB3iITGa9gVsZokmJphcv3sPjMNiEttt7plsADyEoRsAhJnnrmElvjfBzOvRPpeYEp13j+ko9WptQysDgGLeTG4QuwclLCMIcxklePi15DgYCZ+vSx140rC8ZRVWijm73icZrLWeltY+Kvs/NM6+9vJw1bIzY9DDiHD8pVPeNiUYi5MmS6EwrfQiCNsvuidVhVHuDyJHsDiZi+PkhzBIb9r1ynY7ZlsV8J1gVAzJzwmRya7r2uNI+rykgejG+XQ14fTdzjPvOHZBDIQ1bR0lSzww52yBsxCR7pYjEK8FahbOWd8eTGUmKCpb3QIDAQAB';
      var braintree = Braintree.create(clientSideEncryptionKey);

      $(document).ready(function() {
        $('#transaction_form').submit(function(event) {
          var form = $(event.target);

          form.find('.submit').attr('disabled', 'disabled');

          var encryptedNumber = braintree.encrypt(form.find('.number').val());
          var encryptedExpirationDate = braintree.encrypt(form.find('.expiration_date').val());
          var encryptedCvv = braintree.encrypt(form.find('.cvv').val());

          form.append("<input type='hidden' name='number' value='" + encryptedNumber + "'/>");
          form.append("<input type='hidden' name='expiration_date' value='" + encryptedExpirationDate + "'/>");
          form.append("<input type='hidden' name='cvv' value='" + encryptedCvv + "'/>");
        });
      });
    </script>
  </head>

  <body>
    <h1>Braintree!</h1>

    <form id="transaction_form" action="/" method="POST" autocomplete="off">
      <div>
        <label>Card Number</label>
        <input class="number" type="text" size="19" />
      </div>
      <div>
        <label>Expiration Date (MM/YY)</label>
        <input class="expiration_date" type="text" size="6" />
      </div>
      <div>
        <label>CVV</label>
        <input class="cvv" type="text" size="4" autocomplete="off" />
      </div>
      <button type="submit" class="submit">Charge $1000</button>
    </form>

    <hr style="margin: 100px 0;" />

    <p>The above form will charge a $1000 test transaction to the card you enter using Braintree's Sandbox.</p>

    <p>Try the following values:</p>

    <dl>
      <dt>Card Number</dt><dd>4111111111111111</dd>
      <dt>Expiration</dt><dd>12/12</dd>
      <dt>CVV</dt><dd>123</dd>
    </dl>

    <p>If you <a href="https://www.braintreepayments.com/get-started">get a Braintree Sandbox account</a>, you
    can fill in your own API credentials, which will allow you to see the test transaction in Braintree's Control Panel.</p>
  </body>
</html>
