<html>
  <body>
    <h1>Braintree Response!</h1>
    <p>Success: <%= result.success? %></p>
    <% if result.transaction %>
      <p>Transaction Status: <%= result.transaction.status %></p>
    <% end %>
  </body>
</html>
